/*Matthew Hurst | CSCE 242*/

/*Content*/
body {
    background: #2e3047;
    font-family:'Courier New', Courier, monospace;
    color: white;
    width: 90%;
    margin:auto;
    border: 1px solid #3bba9c;
}

/*Main Page Div*/
#main-header {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #43455c;
    text-align: center;
    padding: 10px;
}

#main-content{
    background: #43455c;
    text-align: center;
    padding: 10px;
}
#main-footer {
    background: #707793;
    padding: 10px;
    text-align: center;
}

/*GitHub Link and Picture*/
#githubSection{
    display: flex;
    align-items: center;
    gap: 5px;
}

#githubSection img{
    border: 1.5px solid black;
    border-radius: 20px;
    width: 30px;
}

#githubLink a{
    background: #707793;
    text-decoration: none;
    font-style: italic;
    color:white;
    padding: 4px;
    border-radius: 3px;
}

#githubLink a:hover{
    color:#3bba9c;
}

/*Assignments Section*/
.assign a{
    text-decoration: none;
    font-size: 22px;
    color:white;
    background: #43455c;
    padding: 4px;
    border-radius: 5px;
    margin: auto;
}


.assign{
    background: #707793;
    padding: 20px;
    border-radius: 10px;
    min-width: 0;
    
}

.assign a:hover{
    color:#3bba9c;
}

.assign img{
    margin: 20px auto;
    display: block;
    max-width: 100%;
    height: 100%;
    border: 5px solid #43455c;
    border-radius: 5px;
}

#assignments h2{
    text-align: center;
    color: #3bba9c;
}


#assignmentLinks ul{
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;

    display: flex;
    flex-direction: column;   
}

/*Headers*/
#main-header h1{
    color:#3bba9c;
    padding-top: 10px;
}

#student-name{
    padding: 10px;
    position: static;
    color:#3bba9c;
    left: 8px;
    top: 8px;
    margin: 0;
}

#class-description{
    text-align: center;
}   

/*Project Section*/

#project-section ul{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projects{
    background: #707793;
    padding: 20px;
    border-radius: 10px;
}

.projects a{
    text-decoration: none;
    font-size: 22px;
    color:white;
    background: #43455c;
    padding: 4px;
    border-radius: 5px;
    margin: auto;
}
.projects a:hover{
    color:#3bba9c;
}
#project-section h2{
    text-align: center;
    color: #3bba9c;
}
.projects img{
    margin: 20px auto;
    display: block;
    max-width: 150px;
    height: 200px;
    border: 5px solid #43455c;
    border-radius: 5px;
}
.projects li{
    list-style: none;
    padding: 0;
    margin: 0;
}

/*Larger Resolutions*/
@media (min-width: 900px){
    #assignmentLinks ul, #project-section ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:10px;
    }
    .assign, .projects{
        flex: 1;
    }
    #main-header{
        flex-direction: column;
        flex-wrap: wrap;
    }
    #student-name{
        position: absolute;
    }
}