/*Matthew Hurst | CSCE 242*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    background-image: url(../images/GymBackground3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    font-family: "Montserrat";
}
/*Header*/
#main-header{
    background-color: rgb(0, 0, 0, 0.5);
    padding: 15px;
}
#main-header h1{
    font-size: 48px;
    font-family: "Playfair Display";
    text-align: center;
}
/*Navigation*/
#main-nav{
    display: flex;
    justify-content: center;
}
#main-nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}
#main-nav li{
    font-size: 20px;
}
#main-nav a{
    text-decoration: none;
    color: white;
}
#main-nav a:hover{
    color: rgb(53, 127, 125);
}




/*Footer*/
#main-footer{
    background: rgb(61, 67, 75, 0.8);
    text-align: center;
    padding: 20px;
}
#main-footer p{
    font-family: "Playfair Display";
    font-size: 16px;
}

/*MEDIA QUEREY*/
/*LARGER DISPLAYS*/
@media (min-width: 900px) {
    #main-header h1{
        text-align: left;
    }
    #main-nav{
        justify-content: flex-end;
    }
    #main-nav ul{
        flex-direction: row;
        gap: 49px;
        margin: 0;
    }
}